// Menu button
.menu-btn {
  position: absolute;
  z-index: 2000;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #fff;
    @include easeOut;
  }

  // Menu toggle effect
  &.close {
    transform: rotate(180deg);
    // top line
    :nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    // middle line hide
    :nth-child(2) {
      opacity: 0;
    }
    // bottom line
    :nth-child(3){
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
}

// Menu overlay
.menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  height: 100vh;

  &.show {
    visibility: visible;
  }

  &-brand, &-nav {
    display: inline-flex;
    flex-flow: column wrap;
    flex: 1;
    place-content: center;
    //overflow: hidden;
    @include easeOut;
    &.show {
      transform: translate(0, 0);
    }
  }

  &-brand {
    background-color: darken($secondary-color, 5);
    transform: translateY(100%);

    .portrait {
      width: 250px;
      height: 250px;
      background-image: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #eee;
    }
  }

  &-nav {
    margin: 0;
    padding: 0;
    background-color: darken($primary-color, 5);
    list-style: none;
    text-align: center;
    transform: translateY(-100%)
  }

  .nav-item {
    width: 100%;
    transform: translateX(100%);
    @include easeOut;
    
    &.show {
      transform: translateX(0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: 300;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay nav-items
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}