@include media-xl {

}

@include media-lg {

}

@include media-md {
  main {
    align-items: center;
    text-align: center;
  
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .menu {
    flex-direction: column;

    &-brand {
      flex: 1;
      transform: translateX(-100%);

      .portrait {
        background-image: url("../img/portrait_small.jpg");
        width: 150px;
        height: 150px;
      }

    }
    &-nav {
      flex: 3;
      transform: translateX(100%)
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;

    .job {
      margin-bottom: 30px;
    }
  }
}

@include media-sm {

}